
TweetLibrary/obj/TweetLibrary.csproj.nuget.g.targets
TweetLibrary/obj/TweetLibrary.csproj.nuget.g.props
TweetLibrary/obj/TweetLibrary.csproj.nuget.dgspec.json
TweetLibrary/obj/project.nuget.cache
TweetLibrary/obj/project.assets.json
TweetLibrary/obj/Debug/net6.0/TweetLibrary.pdb
TweetLibrary/obj/Debug/net6.0/TweetLibrary.GlobalUsings.g.cs
TweetLibrary/obj/Debug/net6.0/TweetLibrary.GeneratedMSBuildEditorConfig.editorconfig
TweetLibrary/obj/Debug/net6.0/TweetLibrary.dll
TweetLibrary/obj/Debug/net6.0/TweetLibrary.csproj.FileListAbsolute.txt
TweetLibrary/obj/Debug/net6.0/TweetLibrary.csproj.CoreCompileInputs.cache
TweetLibrary/obj/Debug/net6.0/TweetLibrary.csproj.AssemblyReference.cache
TweetLibrary/obj/Debug/net6.0/TweetLibrary.assets.cache
TweetLibrary/obj/Debug/net6.0/TweetLibrary.AssemblyInfoInputs.cache
TweetLibrary/obj/Debug/net6.0/TweetLibrary.AssemblyInfo.cs
TweetLibrary/obj/Debug/net6.0/refint/TweetLibrary.dll
TweetLibrary/obj/Debug/net6.0/ref/TweetLibrary.dll
TweetLibrary/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TweetLibrary/bin/Debug/net6.0/TweetLibrary.pdb
TweetLibrary/bin/Debug/net6.0/TweetLibrary.dll
TweetLibrary/bin/Debug/net6.0/TweetLibrary.deps.json
obj/TweetPool.csproj.nuget.g.targets
obj/TweetPool.csproj.nuget.g.props
obj/TweetPool.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net6.0/TweetPool.pdb
obj/Debug/net6.0/TweetPool.GlobalUsings.g.cs
obj/Debug/net6.0/TweetPool.genruntimeconfig.cache
obj/Debug/net6.0/TweetPool.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/TweetPool.dll
obj/Debug/net6.0/TweetPool.csproj.FileListAbsolute.txt
obj/Debug/net6.0/TweetPool.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/TweetPool.csproj.CopyComplete
obj/Debug/net6.0/TweetPool.csproj.AssemblyReference.cache
obj/Debug/net6.0/TweetPool.assets.cache
obj/Debug/net6.0/TweetPool.AssemblyInfoInputs.cache
obj/Debug/net6.0/TweetPool.AssemblyInfo.cs
obj/Debug/net6.0/refint/TweetPool.dll
obj/Debug/net6.0/ref/TweetPool.dll
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
bin/Debug/net6.0/TweetPool.runtimeconfig.json
bin/Debug/net6.0/TweetPool.pdb
bin/Debug/net6.0/TweetPool.log
bin/Debug/net6.0/TweetPool.exe
bin/Debug/net6.0/TweetPool.dll.config
bin/Debug/net6.0/TweetPool.dll
bin/Debug/net6.0/TweetPool.deps.json
bin/Debug/net6.0/TweetLibrary.pdb
bin/Debug/net6.0/TweetLibrary.dll
bin/Debug/net6.0/System.Security.Permissions.dll
bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net6.0/log4net.dll
bin/Debug/net6.0/log4net.config
bin/Debug/net6.0/App.Config
App.Config
