<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <add key="TweetPool_NumberOfHashtags" value="10" />
       <add key="TweetPool_MaxClients" value="1" />
       <add key="Log4Net_Configuration" value="log4net.config" />
       <add key="Twitter_SampleAPIURL" value="https://api.twitter.com/2/tweets/sample/stream" />
       <add key="Twitter_APIKey" value="" />
       <add key="Twitter_BearerToken" value="" />
       <add key="Twitter_AccessToken" value="" />
       <add key="Twitter_AccessSecret" value="" />
   </appSettings>
</configuration>